/** styling for range */
main .form .range-widget-wrapper.decorated input[type="prange"] {
    margin: unset;
    padding: unset;
    appearance: none;
    height: 5px;
    border-radius: 5px;
    border: none;

    /* Orange range line */
    background-image: linear-gradient(
        to right,
        #FFA500 calc(100% * var(--current-steps) / var(--total-steps)),
        #C5C5C5 calc(100% * var(--current-steps) / var(--total-steps))
    );
}

main .form .range-widget-wrapper.decorated input[type="range"]:focus {
    outline: none;
}

/* Slider thumb */
.range-widget-wrapper.decorated input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;

    /* Orange border */
    border: 3px solid #FFA500;

    cursor: pointer;
    outline: 3px solid #fff;
}

.range-widget-wrapper.decorated input[type="prange"]:focus::-webkit-slider-thumb {
    border-color: #FFA500;
}

/* Blue bubble/value */
.range-widget-wrapper.decorated .range-bubble {
    color: #007BFF;
    font-size: 20px;
    line-height: 28px;
    position: relative;
    display: inline-block;
    padding-bottom: 12px;
}

/* Min/Max labels */
.range-widget-wrapper.decorated .range-min,
.range-widget-wrapper.decorated .range-max {
    font-size: 14px;
    line-height: 22px;
    color: #FFA500;
    margin-top: 16px;
    display: inline-block;
}

.range-widget-wrapper.decorated .range-max {
    float: right;
}
